<body>
  <ion-header class="header" [translucent]="true">
    <a routerLink="/home">Home</a>
    <img src="../../assets/logoOrbe.svg"/>
    <nav>
      <ul class="menu">
        <li><a href="/">Sobre</a></li>
        <li><a href="/">Produtos</a></li>
        <li><a href="/">Contato</a></li>
      </ul>
    </nav>
  </ion-header>

  <main>
    <ion-content [fullscreen]="true">
      <section class="toolbox-style">
        Toolbox-style
      </section>
      <section class="img-main">
        <img src="../../assets/avatarmain.svg"/>
      </section>
      <section class="toolbox-style">
        Filmes
      </section>
      <section class="flex-style">
        <div>
          <img src="../../assets/velosesefuriososdez.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/culpadasestrelas.svg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/barracadobeijo.svg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/infiltrado.svg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/avatar.svg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/guardioesdagalaxia.svg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/inferno.svg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/supermario.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/flash.jpg"/>
          <p>
            legenda
          </p>
        </div>
      </section>
      <section class="toolbox-style">
        Séries
      </section>
      <section class="flex-style">
        <div>
          <img src="../../assets/blackmirror.svg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/simpsons.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/invasaosecreta.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/jackryan.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/thewalkingdead.svg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/vandinha.svg"/>
          <p>
            legenda
          </p>
        </div>
      </section>
      <section class="toolbox-style">
        Músicas
      </section>
        <section class="flex-style">
        <div>
          <img src="../../assets/cooldplay.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/mariahcarey.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/metallica.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/mickaeljackson.jpg"/>
          <p>
            legenda
          </p>
        </div>
        <div>
          <img src="../../assets/readhotchilipeppers.jpg"/>
          <p>
            legenda
          </p>
        </div>
      </section>
    </ion-content>
  </main>
</body>