<body>
  <ion-header class="flex-header" [translucent]="true">
    <div class="header-area_start">
      <div class="header-icon-pos">
          <ion-icon slot="icon-only" name="home" routerLink="/home"></ion-icon>
      </div>
      <a class="header-text-style" routerLink="/home">Início</a>
    </div>
    <div class="header-area_center">
      <div class="header-flex-item">
        <img class="header-img-logo" src="../../assets/logoOrbe.svg"/>
      </div>
    </div>
    <div class="header-area_end">
      <div class="header-flex-item">
        <a class="header-text-style">11:40 AM</a>
      </div> 
    </div>
  </ion-header>  
  <main>

  </main>
</body>