body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;   //Tira a bolinha do inicio do item da lista
    font-size: 1.2rem;
    font-family: Arial;
}
main {
  //border: 1px solid #fff;
  max-width: 1024px;
  height: 560px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
}
$header_font_type: 600 16px "Roboto", Helvetica, Arial, serif;
.header-text-style {
    text-decoration: none;  //Links sublinhados
    color: whitesmoke;
    font: $header_font_type;    
    text-align: center;
}
$font_type_00: 400 34px "Roboto", Helvetica, Bold, serif;
.main-text-style {
    text-decoration: none;  //Links sublinhados
    color: whitesmoke;
    font: $font_type_00;    
    text-align: center;
}
$font_type_01: 600 18px "Roboto", Helvetica, Bold, serif;
.app-text-style {
    text-decoration: none;  //Links sublinhados
    color: whitesmoke;
    font: $font_type_01;    
    text-align: center;
}
.flex-header {
  //border: 1px solid #fff;
  height: 40px;
  display: flex;
  flex-flow: row nowrap; //flex-direction + flex-wrap
  max-width: 1024px;
}
.header-area {
  //border: 1px solid #fff;
  display: flex;
  width: 100%;
}
.header-area_start {
  //border: 1px solid #fff;
  padding-left: 40px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
}
.header-area_center {
  //border: 1px solid #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header-area_end {
  //border: 1px solid #fff;
  padding-right: 40px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0px;
}
.header-icon-pos {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
  //margin-bottom: 8px;
}
.header-img-logo {
  width: 80px;
  display: block;
}
.header-flex-item > img {
  max-width: 132px;
  border-radius: 5%;
}
.header-flex-item-img > img {
  max-width: 132px;
  border-radius: 5%;
}
.header-flex-item {
  color: white;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.main-app-container {
  //border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;  
  gap: 30px;
}
.app-format-container {
  //border: 1px solid #fff;
  flex: 1 1 auto;
  height: 100%;  
}
.app-img-format {
  //border: 1px solid #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;  
}