/******** header ********/
.flex-header {
    height: 40px;
    //border: 1px solid #fff;
    display: flex;
    flex-flow: row nowrap; //flex-direction + flex-wrap
    max-width: 1024px;
}

.flex-header-area_start {
    //border: 1px solid #fff;
    padding-left: 40px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px;
}

.flex-header-area_center {
    //border: 1px solid #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flex-header-area_end {
    //border: 1px solid #fff;
    padding-right: 40px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0px;
}

$header_font_type: 600 16px "Roboto", Helvetica, Arial, serif;

.header-text-style {
    text-decoration: none; //Links sublinhados
    color: whitesmoke;
    font: $header_font_type;
    text-align: center;
}

.flex-icon-pos {
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}

.flex-item {
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.img-logo {
    width: 80px;
    display: block;
}

/******** Main ********/
main {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 1024px;
    height: 560px;
    padding-left: 40px;
}

/******** Lista ********/
.list-container {
    //border: 1px solid #fff;
    display: flex;
}

.slide-list {
    position: relative;
    max-width: 984px;
    left: -25px;
    z-index: 0;
    display: block;
    overflow-x: auto; //determina como vai se comportar o conteudo dentro do container 
    overflow-y: hidden; //determina como vai se comportar o conteudo dentro do container 
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    display: none;
}

#content-suspense::-webkit-scrollbar {
    display: none;
}

#content-comedia::-webkit-scrollbar {
    display: none;
}

#content-terror::-webkit-scrollbar {
    display: none;
}

.slide-block {
    display: flex;
    gap: 20px;
    flex-flow: row nowrap; //flex-direction + flex-wrap
    position: relative;
}

.slide-item {
    flex-basis: 132px;
}

.slide-serie-left {
    padding: 0px;
    color: whitesmoke;
    position: relative;
    float: left;
    top: 60px;
    margin-left: 0px;
    width: 25px;
    height: 80px;
    line-height: 80px; //alinha no centro do height
    text-align: center;
    z-index: 1; //configura o elemento para frente ou para tras no eixo z
    cursor: pointer; //coloca o objeto de seleção no mouse
    user-select: none;
    background-color: #f5400e9c;
}

.slide-serie-right {
    padding: 0px;
    color: whitesmoke;
    position: relative;
    float: left;
    top: 60px;
    margin-left: -50px;
    width: 25px;
    height: 80px;
    line-height: 80px; //alinha no centro do height
    text-align: center;
    z-index: 1; //configura o elemento para frente ou para tras no eixo z
    cursor: pointer; //coloca o objeto de seleção no mouse
    user-select: none;
    background-color: #f5400e9c;
}

.link-mouse {
    cursor: pointer; //coloca o objeto de seleção no mouse
    user-select: none;
}

.flex-item-img {
    width: 132px;
    // border-radius: 20px;
}

.flex-item-txt {
    //border: 1px solid #fff;
    width: 100%;
    max-width: 132px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap; //flex-direction + flex-wrap
    color: white;
    text-align: left;
    justify-content: flex-start;
}

$font_list_0: 500 15px/1.17 "Roboto", Helvetica, Arial, serif;

.name-text-style {
    margin-top: 8%;
    margin-bottom: 8%;
    text-decoration: none; //Links sublinhados
    color: white;
    font: $font_list_0;
}

$font_list_1: 400 12px/1.17 "Roboto", Helvetica, Arial, serif;

.info-text-style {
    text-decoration: none; //Links sublinhados
    color: white;
    font: $font_list_1;
}

/******** Toolbar ********/
.toolbox-style {
    //border: 1px solid #fff;
    color: white;
    display: flex;
    max-width: 948px;
    justify-content: space-between;
}

.toolbox-title {
    padding-top: 5px;
    padding-bottom: 10px;
}

.flex-toolbox-area {
    //border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.flex-toolbox-area_start {
    //border: 1px solid #fff;
    display: flex;
    padding-right: 20px;
    justify-content: flex-start;
    align-items: center;
}

$font_type_5: 400 12px/1.17 "Roboto", Helvetica, Arial, serif;

.flex-toolbox-area_center {
    //border: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: $font_type_5;
}

.flex-toolbox-area_end {
    //border: 1px solid #fff;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

$font_type_2: 600 22px/1.17 "Roboto", Helvetica, Arial, serif;

.type-text-style {
    text-decoration: none; //Links sublinhados
    color: white;
    font: $font_type_2;
}

/******** Buttons ********/
.watch-button-red {
    background-color: #F5400E;
    border-radius: 15px;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 16px;
    margin-left: 14px;
    cursor: pointer;
}

.watch-button-outline {
    background-color: #272626;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: white;
    padding: 6px 25px;
    text-align: center;
    font-size: 16px;
    margin-left: 14px;
    cursor: pointer;
}

/******** Select ********/
ion-select {
    --placeholder-color: whitesmoke;
    --placeholder-opacity: 1;
    --highlight-color-focused: whitesmoke;
    --highlight-color-valid: whitesmoke;
    font: $font_type_5;
    width: 100%;
    justify-content: flex-center;
}