body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;   //Tira a bolinha do inicio do item da lista
    font-size: 1.2rem;
    font-family: Arial;
}
$font_type_0: 500 15px/1.17 "Roboto", Helvetica, Arial, serif;
.name-text-style {
    margin-top: 8%;
    margin-bottom: 8%;
    text-decoration: none;  //Links sublinhados
    color: white;
    font: $font_type_0;
}
$font_type_1: 400 12px/1.17 "Roboto", Helvetica, Arial, serif;
.info-text-style {
    text-decoration: none;  //Links sublinhados
    color: white;
    font: $font_type_1;
}
$font_type_2: 600 22px/1.17 "Roboto", Helvetica, Arial, serif;
.type-text-style {
    text-decoration: none;  //Links sublinhados
    color: white;
    font: $font_type_2;
}
$header_font_type: 600 16px "Roboto", Helvetica, Arial, serif;
.header-text-style {
    text-decoration: none;  //Links sublinhados
    color: whitesmoke;
    font: $header_font_type;    
    text-align: center;
}
.flex-header {
    //border: 1px solid #fff;
    height: 40px;
    display: flex;
    flex-flow: row nowrap; //flex-direction + flex-wrap
    max-width: 1024px;
}
.flex-header-area {
    //border: 1px solid #fff;
    display: flex;
    width: 100%;
}
.flex-header-area_start {
    //border: 1px solid #fff;
    padding-left: 40px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px;
}
.flex-header-area_center {
    //border: 1px solid #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.flex-header-area_end {
    //border: 1px solid #fff;
    padding-right: 40px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0px;
}
.flex-link {
    color: white;
    display: flex;
    align-items: center;
}
.flex-icon-pos {
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    //margin-bottom: 8px;
}
.flex-data {
    color: white;
    font-size: 1em;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #447;
    flex: 1, 1, auto;   //flex-grow + flex-shrink + flex-basis
}
.menu {
    display: flex;
    //background-color: #447;    
}
.menu li {
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
}

.flex-toolbox-area {
    //border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    width: 100%;
}
.flex-toolbox-area_start {
    //border: 1px solid #fff;
    display: flex;
    padding-right: 20px;
    justify-content: flex-start;
    align-items: center;
}

.flex-toolbox-area_end {
    //border: 1px solid #fff;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.flex-container {
    //border: 1px solid #fff;
    padding-bottom: 1.2%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap; //flex-direction + flex-wrap
}
#contentSlide {
    //border: 1px solid #fff;
    display: flex;
    flex-flow: row nowrap; //flex-direction + flex-wrap
    padding-bottom:30px;
    z-index: 0;
    overflow-x: auto;     //determina como vai se comportar o conteudo dentro do container 
    overflow-y: hidden;   //determina como vai se comportar o conteudo dentro do container 
    scroll-behavior: smooth;
}
#contentSlide::-webkit-scrollbar{
    display: none;
}
#contentSlide #block {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap; //flex-direction + flex-wrap
}
.teste-position1 {
    position: absolute;
    color: white;
    top: 150px;
    left: 0px;
}
.teste-position2 {
    position: absolute;
    color: white;
    top: 150px;
    left: 40px;
}
.teste-position3 {
    position: absolute;
    color: white;
    top: 150px;
    left: 984px;
}
.teste-position4 {
    position: absolute;
    color: white;
    top: 150px;
    left: 1024px;
}
.img-logo {
    width: 80px;
    display: block;
}
.flex-item > img {
    max-width: 132px;
    border-radius: 5%;
}
.flex-item-img > img {
    max-width: 132px;
    border-radius: 5%;
}
.flex-item {
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.flex-format-item {
    margin: 5px;
    padding: 5px;
    //border: 1px solid #fff;
    display: flex;
    flex-flow: column nowrap; //flex-direction + flex-wrap
    //background-color: #447;
}
.flex-item-img {
    //border: 1px solid #fff;
    flex: 1, 1, 500px;   //flex-grow + flex-shrink + flex-basis
}
.flex-item-txt {
    //border: 1px solid #fff;
    width: 100%;
    max-width: 132px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap; //flex-direction + flex-wrap
    color: white;
    text-align: left;
    justify-content: flex-start;
}
$font_type_4: 600 12px "Roboto", Helvetica, Bold, serif;
.toolbar_button_item {
    margin: 1%;
    text-align: center;
    font: $font_type_4;
    color: #fff;
}
$font_type_5: 400 12px/1.17 "Roboto", Helvetica, Arial, serif;
.flex-toolbox-area_center {
    //border: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: $font_type_5;
}
$font_type_6: 400 14px/1.17 "Roboto", Helvetica, Bold, serif;
.select-box-text {
    cursor: pointer;    //coloca o objeto de seleção no mouse
}
$font_type_7: 6000 24px/1.17 "Roboto", Helvetica, Bold, serif;
.company-text-font {
    color: white;
    text-align: left;
    font: $font_type_7;
}
.link-mouse {
    cursor: pointer;    //coloca o objeto de seleção no mouse
    user-select:none;
}
.flex-logo-container {
    //border: 1px solid #fff;
    position: relative;
    padding: 10px;
    top: -190px;
    left: 40px;
    width: 260px;
}
.flex-logo-position {
    width: 150px;
    padding-bottom: 15px;
    overflow: 'hidden';
}

// ion-select::part(placeholder),
// ion-select::part(text) {
//     flex: 0 0 auto;
// }
// ion-select::part(placeholder)::first-letter {
//     font-size: 24px;
//     font-weight: 500;
// }
ion-select::part(text) {
    color: whitesmoke;
}
ion-select::part(icon) {
    color: whitesmoke;
    opacity: 1;
}
.watch-button-red {
    background-color: #F5400E;
    border-radius: 15px;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 16px;
    margin-left: 14px;
    cursor: pointer;
}
.watch-button-outline {
    background-color: #272626;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: white;
    padding: 6px 25px;
    text-align: center;
    font-size: 16px;
    margin-left: 14px;
    cursor: pointer;
}

/*CSS Organization*/
main {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 1024px;
    height: 560px;
    padding-left: 40px;
}
/******** Lista ********/
.list-container {
    //border: 1px solid #fff;
    display: flex;
}
.slide-list {
    position: relative;
    max-width: 984px;
    left: -25px;
    z-index: 0;
    display: block;
    overflow-x: auto;     //determina como vai se comportar o conteudo dentro do container 
    overflow-y: hidden;   //determina como vai se comportar o conteudo dentro do container 
    scroll-behavior: smooth;
}
main::-webkit-scrollbar{
    display: none;
}
#content-serie::-webkit-scrollbar{
    display: none;
}
#content-music::-webkit-scrollbar{
    display: none;
}
#content-movie::-webkit-scrollbar{
    display: none;
}
.slide-block {
    display: flex;
    gap: 20px;
    flex-flow: row nowrap; //flex-direction + flex-wrap
    position: relative;
}
.slide-item{
    flex-basis: 132px;
}
.slide-serie-left {
    padding: 0px;
    color: whitesmoke;
    position:relative;
    float: left;
    top: 60px;
    margin-left: 0px;
    width: 25px;
    height: 80px;
    line-height: 80px;  //alinha no centro do height
    text-align: center;
    z-index: 1;         //configura o elemento para frente ou para tras no eixo z
    cursor: pointer;    //coloca o objeto de seleção no mouse
    user-select: none;
    background-color: #f5400e9c;
}
.slide-serie-right {
    padding: 0px;
    color: whitesmoke;
    position:relative;
    float: left;
    top: 60px;
    margin-left: -50px;
    width: 25px;
    height: 80px;
    line-height: 80px;  //alinha no centro do height
    text-align: center;
    z-index: 1;         //configura o elemento para frente ou para tras no eixo z
    cursor: pointer;    //coloca o objeto de seleção no mouse
    user-select: none;
    background-color: #f5400e9c;
}
.link-mouse {
    cursor: pointer;    //coloca o objeto de seleção no mouse
    user-select:none;
}
.flex-item-img {
    width: 132px;
    // border-radius: 20px;
}
.flex-item-txt {
    //border: 1px solid #fff;
    width: 100%;
    max-width: 132px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap; //flex-direction + flex-wrap
    color: white;
    text-align: left;
    justify-content: flex-start;
}
$font_list_0: 500 15px/1.17 "Roboto", Helvetica, Arial, serif;
.name-text-style {
    margin-top: 8%;
    margin-bottom: 8%;
    text-decoration: none;  //Links sublinhados
    color: white;
    font: $font_list_0;
}
$font_list_1: 400 12px/1.17 "Roboto", Helvetica, Arial, serif;
.info-text-style {
    text-decoration: none;  //Links sublinhados
    color: white;
    font: $font_list_1;
}
/******** main image ********/
.img-main {
    //border: 1px solid #fff;
    border-radius: 8px;
    max-width: 946px;
    height: 240px;
}
/******** Toolbar ********/
.toolbox-style {
    //border: 1px solid #fff;
    color: white;
    display: flex;
    max-width: 948px;
    justify-content: space-between;
}
.toolbox-title {
    padding-top: 30px;
    padding-bottom: 10px;
}

ion-select {
    --placeholder-color: whitesmoke;
    --placeholder-opacity: 1;
    --highlight-color-focused: whitesmoke;
    --highlight-color-valid: whitesmoke;
    font: $font_type_5;
    width: 100%;
    justify-content: flex-center;
}