<body>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>entretenimento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <section class="template-style">
      <section class="toolbar-style">
        <div class="red"></div>
      </section>
      <main class="main-style">
        <aside class="aside-style">
          <div class="yellow"></div>
        </aside>
        <article class="article-style">
          <div class="green"></div>
        </article>          
      </main>
      <footer class="footer-style">
        <div class="blue"></div>
      </footer>          
    </section>
  </ion-content>
</body>