<body>
  <ion-header class="flex-header" [translucent]="true">
      <div class="flex-header-area_start">
        <div class="flex-icon-pos">
            <ion-icon slot="icon-only" name="home" routerLink="/home"></ion-icon>
        </div>
        <a class="header-text-style" routerLink="/home">Início</a>
      </div>
      <div class="flex-header-area_center">
        <div class="flex-item">
          <img class="img-logo" src="../../assets/logoOrbe.svg"/>
        </div>
      </div>
      <div class="flex-header-area_end">
        <div class="flex-item">
          <a class="header-text-style">11:40 AM</a>
        </div> 
      </div>
  </ion-header>  
  <main>
    <section class="toolbox-style">
      <div class="flex-toolbox-area">
        <div class="flex-toolbox-area_start type-text-style">
          Mídias
        </div>
        <div class="flex-toolbox-area_center">
          <ion-list>
            <ion-item>
              <ion-select 
                [interfaceOptions]="customAlertOptions" 
                interface="popover"
                (ionChange)="handleChange($event)"
                placeholder="Todas as categorias">
                <ion-select-option *ngFor="let categorie of categories" [value]="categorie">{{ categorie.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>        
        </div>
        <div class="flex-toolbox-area_end">
          <button class="watch-button-red" routerLink="/entretenimento">Todos</button>
          <button class="watch-button-outline" routerLink="/media/movies">Filmes</button>
          <button class="watch-button-outline" routerLink="/media/series">Séries</button>
          <button class="watch-button-outline" routerLink="/media/documentaries">Documentários</button>
          <button class="watch-button-outline" routerLink="/media/musics">Músicas</button>
        </div>       
      </div>
    </section>
    <section class="img-main">
      <img style="border-radius:8px" src="../../assets/AvatarPanel.svg"/>
      <img class="flex-logo-position" src="../../assets/logoOrbeRed.svg"/>
    </section>
    <section class="toolbox-style toolbox-title">
      <div class="type-text-style">
        Filmes
      </div>
      <div class="select-box-text link-mouse" routerLink="/media/movies">
        Ver todos
      </div>
    </section>
    <div class="list-container">
      <div class="slide-serie-left" (click)="slide_carousel('movie',1)">
        <
      </div>
      <section id="content-movie" class="slide-list">
        <div class="slide-block">
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img class="link-mouse" src="../../assets/culpadasestrelas.svg" routerLink="/describe/movies/1">
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                A Culpa é das Estrelas
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/barracadobeijo.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                A Barraca do Beijo
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/infiltrado.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Infiltrado
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/avatar.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Avatar
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/guardioesdagalaxia.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Guardiões da Galáxia
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/velosesefuriososdez.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Veloses e Furiosos 
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/inferno.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Inferno
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/flash.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Flash
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/culpadasestrelas.svg" routerLink="/describe/movies/1">
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                A Culpa é das Estrelas
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/barracadobeijo.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                A Barraca do Beijo
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/infiltrado.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Infiltrado
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/avatar.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Avatar
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/guardioesdagalaxia.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Guardiões da Galáxia
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/velosesefuriososdez.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Veloses e Furiosos 
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/inferno.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Inferno
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/flash.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Flash
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/culpadasestrelas.svg" routerLink="/describe/movies/1">
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                A Culpa é das Estrelas
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/barracadobeijo.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                A Barraca do Beijo
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/infiltrado.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Infiltrado
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/avatar.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Avatar
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/guardioesdagalaxia.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Guardiões da Galáxia
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/velosesefuriososdez.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Veloses e Furiosos 
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/inferno.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Inferno
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/flash.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Flash
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
        </div>
      </section>
      <div class="slide-serie-right" (click)="slide_carousel('movie',2)">
        >
      </div>
    </div>
    <section class="toolbox-style toolbox-title">
      <div class="type-text-style">
        Séries
      </div>
      <div class="select-box-text link-mouse" routerLink="/media/series">
        Ver todos
      </div>
    </section>
    <div class="list-container">
      <div class="slide-serie-left" (click)="slide_carousel('serie',1)">
        <
      </div>
      <section id="content-serie" class="slide-list">
        <div class="slide-block">
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/vandinha.svg" routerLink="/serie-describe/season1/1"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Wandinha
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/blackmirror.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Black Mirror
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/jackryan.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Jack Ryan
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/thewalkingdead.svg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                The Walking Dead
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/simpsons.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Simpsons
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/invasaosecreta.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Invasão Secreta
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/house.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Wandinha
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/vandinha.svg" routerLink="/media/series"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                House
              </p>      
              <p class="info-text-style">
                2014 - 132 min
              </p>      
            </div>
          </div>
        </div>
      </section>
      <div class="slide-serie-right" (click)="slide_carousel('serie',2)">
        >
      </div>
    </div>
    <section class="toolbox-style toolbox-title">
      <div class="type-text-style">
        Músicas
      </div>
      <div class="select-box-text link-mouse" routerLink="/media/musics">
        Ver todos
      </div>
    </section>
    <div class="list-container">
      <div class="slide-serie-left" (click)="slide_carousel('music',1)">
        <
      </div>
      <section id="content-music" class="slide-list">
        <div class="slide-block">
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/metallica.jpg" routerLink="/audio-player/1"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Metallica
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/mariahcarey.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Mariah Carey
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/mickaeljackson.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Michael Jackson
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/cooldplay.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Coldplay
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/readhotchilipeppers.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Simpsons
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/invasaosecreta.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Invasão Secreta
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/house.jpg"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                Wandinha
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
          <div class="slide-item">
            <div class="flex-item-img link-mouse">
              <img src="../../assets/vandinha.svg" routerLink="/media/series"/>
            </div>
            <div class="flex-item-txt">
              <p class="name-text-style">
                House
              </p>      
              <p class="info-text-style">
                45 min
              </p>      
            </div>
          </div>
        </div>
      </section>
      <div class="slide-serie-right" (click)="slide_carousel('music',2)">
        >
      </div>
    </div>
  </main>
</body>
