<body>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>entretenimento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="container-grid">
      <div class="item">texto teste 1</div>
      <div class="item">texto teste 2</div>
      <div class="item">texto teste 3</div>
      <div class="item">texto teste 4</div>
      <div class="item">texto teste 5</div>
      <div class="item">texto teste 6</div>
    </div>
  </ion-content>
</body>