body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;   //Tira a bolinha do inicio do item da lista
    font-size: 1.2rem;
    font-family: Arial;
}
img {
    width: 100%;
}
a {
    text-decoration: none;  //Links sublinhados
    color: white;
}
.flex-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 800px;
    margin: 0, auto;
    grid-gap: 20px;
}
.flex-grid > div:nth-child(n + 4) {   //Filhos no index 4 em diante
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}
.flex-grid > div.anuncio{
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}
@media (max-width: 600px) {
    img {
        width: 50px;
    }
    .flex-grid {
        grid-template-columns: repeat(2, auto);
    }   
}