body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;   //Tira a bolinha do inicio do item da lista
    font-size: 1.2rem;
    font-family: Arial;
    background-color: #272626;
}
main {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 1024px;
    height: 560px;
}
main::-webkit-scrollbar {
    display: none;
}

/******** text font ********/
$font_orbe_00: 700 34px "Roboto", Bold, Helvetica, sans-serif;
.artist-name-font {
    font: $font_orbe_00;    
    color: whitesmoke;
}
$font_orbe_01: 400 14px "Roboto", Bold, Helvetica, sans-serif;
.album-describe-font {
    font: $font_orbe_01;    
    text-align: left;
    text-decoration: none;  
    color: whitesmoke;
}
$font_orbe_02: 600 14px "Roboto", Bold, Helvetica, sans-serif;
.audio-title-font {
    font: $font_orbe_02;    
    text-align: left;
    text-decoration: none;  
    color: whitesmoke;
}
$font_orbe_03: 600 18px "Roboto", Bold, Helvetica, sans-serif;
.album-title-font {
    font: $font_orbe_03;    
    text-align: left;
    text-decoration: none;  
    color: whitesmoke;
}
$font_orbe_04: 400 14px "Roboto", Bold, Helvetica, sans-serif;
.artist-title-font {
    font: $font_orbe_04;    
    text-align: left;
    text-decoration: none;  
    color: whitesmoke;
}

$font_orbe0: 500 1em "Roboto", Bold, Helvetica, sans-serif;
.font-orbe0 {
    font: $font_orbe0;    
    text-align: center;
    text-decoration: none;  //Links sublinhados
    color: whitesmoke;
}
$font_orbe1: 700 1.3em "Roboto", Bold, Helvetica, sans-serif;
.font-orbe1 {
    font: $font_orbe1;    
    text-align: left;
    text-decoration: none;  //Links sublinhados
    color: whitesmoke;
}
$font_orbe2: 500 0.7em "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
.font-orbe2 {
    font: $font_orbe2;    
    text-align: left;
    text-decoration: none;  //Links sublinhados
    color: whitesmoke;
}
$font_orbe3: 500 0.7em "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
.font-orbe3 {
    font: $font_orbe0;    
    text-align: right;
    color: #F5400E;
    background-color: #272626;
}
$font_orbe4: 500 0.7em "Roboto", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
.font-orbe4 {
    font: $font_orbe0;  
    margin: 0px;  
    padding: 0;
    text-align: left;
    color: #F5400E;
}

/******** support ********/
.link-mouse {
    cursor: pointer; //coloca o objeto de seleção no mouse
    user-select: none;
}

/******** header ********/
.flex-header {
    height: 40px;
    //border: 1px solid #fff;
    display: flex;
    flex-flow: row nowrap; //flex-direction + flex-wrap
    max-width: 1024px;
}
.flex-header-area_start {
    //border: 1px solid #fff;
    padding-left: 40px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px;
}
.flex-header-area_center {
    //border: 1px solid #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.flex-header-area_end {
    //border: 1px solid #fff;
    padding-right: 40px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0px;
}
$header_font_type: 600 16px "Roboto", Helvetica, Arial, serif;
.header-text-style {
    text-decoration: none; //Links sublinhados
    color: whitesmoke;
    font: $header_font_type;
    text-align: center;
}
.flex-icon-pos {
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}
.flex-item {
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.img-logo {
    width: 80px;
    display: block;
}

/******** main area ********/
.flex-main-container {
    //border: 1px solid #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
}
.flex-main-item-left {
    height: 560px;
    width: 70%;
    //border: 1px solid #fff;
    //background-color: #447;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.flex-main-item-right {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 560px;
    width: 30%;
    padding: 20px;
    //border: 1px solid #fff;
    //background-color: #447;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/******** audio list area ********/
.container-audio-list {
    //border: 1px solid #fff;
    display: block;
    border-radius: 20px;
    background-color: #1A1919;
    flex: 1 1 auto;
}

/******** flex-itens ********/
.item-artist-text {
    //border: 1px solid #fff;
    padding: 20px;
    width: 100%;
    height: 20%;
}
.item-audio-list {
    //border: 1px solid #fff;
    overflow-x: hidden;
    overflow-y: auto;    
    padding-left: 20px;
    width: 100%;
    height: 80%;
}
/****************************/

.audio-artist-name {
    //border: 1px solid #fff;
    display: flex;
    align-items: center;
    height: 70%;
}
.album-describe {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    height: 30%;
}
.aldio-icon-style {
    color: whitesmoke;
    font-size: 20px;
}
.aldio-container {
    //border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.play-icon-style {
    color: whitesmoke;
    font-size: 50px;
    text-align: left;
}
.pause-icon-style {
    color: #F5400E;
    background-color: white;
    border-radius: 30px;
    font-size: 44px;
    margin: 4px;
    text-align: left;
}
.play-icon-item {
    //border: 1px solid #fff;
    flex: 0 1 auto;
}
.aldio-text-container {
    //border: 1px solid #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.progress-container {
    //border: 1px solid #fff;
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;
}

/******** audio display area ********/
.volume-container {
    //border: 1px solid #fff;
    display: flex;
    align-items: flex-end;
    width: 20%;
    height: 100%;
    padding-bottom: 30px;
}
// .volume-item > ion-range {
//     --bar-background: #767676;
//     --bar-background-active: whitesmoke;
//     --bar-height: 8px;
//     --bar-border-radius: 8px;
//      --knob-background: whitesmoke;
//     --knob-size: 40px;
//     --pin-background: whitesmoke;
//     --pin-color: whitesmoke;
// }
// .volume-bar-container > ion-range {
//     --bar-background: #767676;
//     --bar-background-active: whitesmoke;
//     --bar-height: 8px;
//     --bar-border-radius: 8px;
//     --knob-background: whitesmoke;
//     --knob-size: 40px;
//     --pin-background: whitesmoke;
//     --pin-color: whitesmoke;
// }


//https://www.youtube.com/watch?v=BrpiNUf2XCk
.slideContainer {
    //border: 1px solid #fff;
    position: relative;
    width: 250px;
    height: 30px;
    top: -150px;
    left: 48px;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}
.volume-bar-container{
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    width: 100px
}
.volume-bar-custon {
    width: 250px;
    height: 10px;
    appearance: none;
    background: linear-gradient(90deg,whitesmoke 50%,#767676 50%) ;
    border-radius: 12px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.volume-bar-custon::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: whitesmoke;
    border-radius: 50%;
}
// .volume-item {
//     //border: 1px solid #fff;
//     display: flex;
//     margin-bottom: 30px;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     height: 60%;
// }
.volume-icon {
    border: 1px solid #fff;
    position: relative;
    left: 30px;
    border-radius: 50%;
    border-width: 3px;
    padding: 5px;
    color: whitesmoke;
    font-size: 40px;
}

.player-container {
    //border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 100%;
}
.player-img-container {
    //border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}
.player-img-item {
    border-radius: 20px;
    width: 290px;
}
.player-text-description {
    //border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    gap: 5px;
    height: 10%;
    width: 100%;
}
.player-status-bar-container {
    //border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    height: 15%;
    width: 100%;
}
.player-status-bar-item {
    //border: 1px solid #fff;
    height: 100%;
    width: 100%;
}
.player-status-bar-item > ion-range {
    --bar-background: #767676;
    --bar-background-active: #F5400E;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #F5400E;
    --knob-size: 40px;
    --pin-background: #F5400E;
    --pin-color: #F5400E;
}
.player-icons-container {
    //border: 1px solid #fff;
    color: whitesmoke;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 10%;
    width: 100%;
}
// .player-icons-container > ion-icon {
// }
.player-pause-icon-style {
    font-size: 65px;
    color: #F5400E;
}
