<body>
  <ion-header class="flex-header" [translucent]="true">
    <div class="flex-header-area_start">
      <div class="flex-icon-pos">
        <ion-icon (click)='botaoVoltar()' slot="icon-only" name="arrow-undo"></ion-icon>
      </div>
      <a class="font-orbe0 link-mouse" (click)='botaoVoltar()'>Voltar</a>            
    </div>
    <div class="flex-header-area_center">
      <div class="flex-item">
        <img class="img-logo" src="../../assets/logoOrbe.svg"/>
      </div>
    </div>
    <div class="flex-header-area_end">
      <div class="flex-item">
        <a class="header-text-style">11:40 AM</a>
      </div> 
    </div>
  </ion-header>  
  <main>
    <div class="flex-main-container">
      <div class="flex-main-item-left">
        <div class="volume-container">
          <div class="volume-item">
            <div class="slideContainer">
              <input id="customRange" type="range" class="volume-bar-custon" min="0" max="100" value="50">
            </div>
              <ion-icon class="volume-icon" name="volume-high-outline"></ion-icon>
              <!-- <p>Value:<span id="value"></span></p>              -->
          </div>
        </div>
        <div class="player-container">
          <div class="player-img-container">
            <img class="player-img-item" src="../../assets/metallica.jpg"/>
          </div>
          <div class="player-text-description">
            <div class="album-title-font">
              Master of Puppets
            </div>
            <div class="artist-title-font">
              Metallica
            </div>
          </div>
          <div class="player-status-bar-container">
            <div class="player-status-bar-item">
              <ion-range aria-label="Volume" [value]="30"></ion-range>
            </div>
          </div>
          <div class="player-icons-container">
            <ion-icon name="shuffle-sharp"></ion-icon>
            <ion-icon name="play-back-circle-sharp"></ion-icon>
            <ion-icon class="player-pause-icon-style" name="pause-circle-sharp"></ion-icon>
            <ion-icon name="play-forward-circle-sharp"></ion-icon>
            <ion-icon name="repeat-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="flex-main-item-right">
        <div class="container-audio-list">
          <div class="item-artist-text">
            <div class="audio-artist-name">
              <div class="artist-name-font">Metallica</div>
            </div>          
            <div class="album-describe">
              <div class="play-icon-item">
                <ion-icon class="aldio-icon-style" name="folder-open-outline"></ion-icon>
              </div>
              <div class="album-describe-font">12 músicas</div>
              <ion-icon  class="aldio-icon-style" name="time-outline"></ion-icon>
              <div class="album-describe-font">145min</div>
            </div>                
          </div>
          <div class="item-audio-list">
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="pause-icon-style" name="pause-circle-sharp"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="progress-container">
                  <div class="album-describe-font">02:33</div>
                  <ion-progress-bar [value]="progress"></ion-progress-bar>  
                </div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">One</div>
                <div class="album-describe-font">4:25</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Nothing else Matters</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Minha mãe não quer que eu case</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
            <div class="aldio-container">
              <div class="play-icon-item">
                <ion-icon class="play-icon-style" name="play-circle-outline"></ion-icon>
              </div>
              <div class="aldio-text-container">
                <div class="audio-title-font">Fade to Black</div>
                <div class="album-describe-font">2:33</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>