<div class="flex-container">
  <div id="btn-slide-left" (click)="slide_carousel(1)">
    <
  </div>
  <section id="content-slide">
    <div id="block-slide">
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/flash.jpg" routerLink="/playback/movies/1">
        </div>
        <div class="flex-item-txt">
          <p class="name-text-style">
            A Culpa é das Estrelas
          </p>      
          <p class="info-text-style">
            2014 - 132 min
          </p>      
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
      </div>
      <div id="item">
        <div class="flex-item-img link-mouse">
          <img src="../../assets/velosesefuriososdez.jpg" routerLink="/playback/movies/1">
        </div>
        <div class="flex-item-txt">
          <p class="name-text-style">
            A Culpa é das Estrelas
          </p>      
          <p class="info-text-style">
            2014 - 132 min
          </p>      
        </div>
      </div>
    </div>
  </section>
  <div id="btn-slide-right" (click)="slide_carousel(2)">
    >
  </div>
</div>