<body>
  <ion-header class="flex-header" [translucent]="true">
    <div class="header-area_start">
      <div class="header-icon-pos">
          <ion-icon slot="icon-only" name="home" routerLink="/home"></ion-icon>
      </div>
      <a class="header-text-style" routerLink="/home">Início</a>
    </div>
    <div class="header-area_center">
      <div class="header-flex-item">
        <img class="header-img-logo" src="../../assets/logoOrbe.svg"/>
      </div>
    </div>
    <div class="header-area_end">
      <div class="header-flex-item">
        <a class="header-text-style">11:40 AM</a>
      </div> 
    </div>
  </ion-header>  
  <main>
    <div class="main-text-style">Apps</div>
    <div class="main-app-container">
      <div class="app-format-container">
        <img class="app-img-format" src="../../assets/android_calendar.jpg"/>
        <div class="app-text-style">Calendário</div>
      </div>
      <div class="app-format-container">
        <img class="app-img-format" src="../../assets/android_contacts.png"/>
        <div class="app-text-style">Contatos</div>
      </div>
      <div class="app-format-container">
        <img class="app-img-format" src="../../assets/android_settings.png"/>
        <div class="app-text-style">Configuração</div>
      </div>
      <div class="app-format-container">
        <img class="app-img-format" src="../../assets/google_docs.jpg"/>
        <div class="app-text-style">Google Docs</div>
      </div>
      <div class="app-format-container">
        <img class="app-img-format" src="../../assets/maps.png"/>
        <div class="app-text-style">Google Maps</div>
      </div>
    </div>
  </main>
</body>