<body>
  <ion-header class="flex-header" [translucent]="true">
    <div class="flex-header-area_start">
      <div class="flex-icon-pos">
        <ion-icon (click)='botaoVoltar()' slot="icon-only" name="arrow-undo"></ion-icon>
      </div>
      <a class="font-orbe0 link-mouse" (click)='botaoVoltar()'>Voltar</a>            
    </div>
    <div class="flex-header-area_center">
      <div class="flex-item">
        <a class="header-text-style">A Culpa é das Estrelas</a>
      </div>
    </div>
    <div class="flex-header-area_end">
      <div class="flex-item">
        <a class="header-text-style">11:40 AM</a>
      </div> 
    </div>
  </ion-header>  
  <main class="flex-main-container">
    <div class="flex-main-item">
      <div class="back-forw-container" *ngIf="type === 'series'">
        <div class="back-forw-icons ">
          <ion-icon name="play-skip-back-sharp"></ion-icon>
        </div>
        <div class="font-orbe2">Anterior</div>
      </div>
      <ion-icon class="play-icon-format" name="play-circle-sharp"></ion-icon>
      <div class="back-forw-container" *ngIf="type === 'series'">
        <div class="font-orbe2">Próximo</div>
        <div class="back-forw-icons ">
          <ion-icon name="play-skip-forward-sharp"></ion-icon>
        </div>
      </div>
    </div>
    <div class="flex-status-movie">
      <div class="player-icons">
        <ion-icon name="contrast-outline"></ion-icon>
      </div>
      <div class="player-text-duration">
        <div class="font-orbe1">00:34:42</div>
      </div>
      <div class="player-status-bar-container">
        <ion-range aria-label="Volume" [value]="30"></ion-range>
      </div>
      <div class="player-text-duration">
        <div class="font-orbe1">00:37:12</div>
      </div>
      <div class="player-icons">
        <ion-icon name="volume-high-outline"></ion-icon>
      </div>
    </div>
  </main>
</body>