<body>
  <ion-header class="flex-header" [translucent]="true">
    <div class="flex-header-area_start">
    </div>
    <div class="flex-header-area_center">
      <div class="flex-item">
        <img class="img-logo" src="../../assets/logoOrbe.svg"/>
      </div>
    </div>
    <div class="flex-header-area_end">
      <div class="flex-item">
        <a class="header-text-style">11:40 AM</a>
      </div> 
    </div>
</ion-header>  
<ion-content>
    <div class="main_container">
      <div class="entr-page-button" routerLink="/entretenimento">
        <img style="border-radius:8px" src="../../assets/Entretenimento.svg"/>
        <h1 class="text-pos-01">Entretenimento</h1>
        <h1 class="text-pos-02">Filmes, Séries e Músicas</h1>  
      </div>
      <div class="kids-page-button" routerLink="/kids">
        <img  style="border-radius:8px" src="../../assets/image 81.png"/>
        <h1 class="text-pos-01">kids</h1>
        <h1 class="text-pos-02">Conteúdo para Crianças</h1>  
      </div>
      <div class="app-page-button" routerLink="/apps">
        <ion-icon class="home-icon" name="apps-outline"></ion-icon>
        <h1 class="text-pos-01">Apps</h1>
        <h1 class="text-pos-02">Aplicativos disponíveis</h1>
      </div>
      <div class="pesq-page-button" routerLink="/pesquisa">
        <ion-icon class="home-icon" name="list-outline"></ion-icon>
        <h1 class="text-pos-01">Pesquisa</h1>
        <h1 class="text-pos-02">Nos ajude a melhorar</h1>
      </div>
      <div class="clima"> 
        <img style="border-radius: 100px" src="../../assets/image 80.svg"/>
        <h1 class="text-pos-04">22°</h1>
        <h5 class="text-pos-05">Nublado</h5>
        <h5 class="text-pos-03">Porto Alegre</h5>
      </div>
      <img class="whether-img" src="../../assets/Nublado.svg"/>
      <div>
        <h1 class="text-pos-08">10:52</h1>
        <h5 class="text-pos-06">segunda-feira</h5>
        <h5 class="text-pos-07">28 de agosto, 2023</h5>  
      </div>
      <div class="teste-position1">-</div>
      <div class="teste-position2">-</div>
    </div>
  </ion-content>
</body>