
$color_type_0: rgb(255, 255, 255);
$bg_color_type_0: rgb(25, 25, 25);
$font_type_3: 700 48px/1.17 "Roboto", Helvetica, Bold, serif;

body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;   //Tira a bolinha do inicio do item da lista
  font-size: 1.2rem;
  font-family: Arial;
  background-color: #000;
}
a {
  text-decoration: none;  //Links sublinhados
  color: white;
}
#main_style {
  color: #fff;
}
.menu {
  display: flex;
  //background-color: #447;    
}
.menu li {
  margin-left: 10px;
}
.menu li a {
  display: block;
  padding: 10px;
}
.flex-item > img {
  max-width: 132px;
  border-radius: 5%;
}
.flex-item-img > img {
  max-width: 132px;
  border-radius: 5%;
}
.flex_container{ //propriedades de container
  height: 10%;
  margin: 0 auto;
  display: flex; //observa a disposição de eixos main axis e cross axis. Por padrão é block
  flex-direction: row; //main axion horizontal (padrão) 
  flex-wrap: nowrap; //não quebra a linha. Item que não cabe, vai para baixo 
  justify-content: center; //alinha os itens (divs) no main axis. Por padrão é flex-start (no inicio da linha)
  align-items: stretch; //alinha os itens (divs) no cross axis. Por padrão é stretch (do alto da coluna até embaixo)
}
.flex_right_align{
  font-family: roboto;
  margin-right: 10%;
  display: flex; 
  justify-content: flex-end; 
}
.toolbar_container{ //propriedades de container
  height: 10%;
  margin-right: 2%;
  display: flex; //observa a disposição de eixos main axis e cross axis. Por padrão é block
  flex-direction: row; //main axion horizontal (padrão) 
  flex-wrap: nowrap; //não quebra a linha. Item que não cabe, vai para baixo 
  justify-content: flex-end; //alinha os itens (divs) no main axis. Por padrão é flex-start (no inicio da linha)
  align-items: center; //alinha os itens (divs) no cross axis. Por padrão é stretch (do alto da coluna até embaixo)
  background-color: #000;
}
.toolbar_button_item{
  margin: 20px;
  text-align: center;
  font-size: 0.8em;
  font-family:Arial;
  color: #fff;
}
.inicio{
  align-self: flex-start; 
}
.meio{
  align-self: center; 
}
.final{
  align-self: flex-end; 
}
.cover {
  bottom: 311px;
  height: 154px;
  left: 732px;
  position: absolute;
  right: 102px;
  top: 135px;
  width: 190px;
}

.icon {
  bottom: 430px;
  height: 20px;
  left: 744px;
  position: absolute;
  right: 260px;
  top: 150px;
  width: 20px;
}





ion-icon {
  color: whitesmoke;
}

/*CSS Organization*/
/******** header ********/
.flex-header {
  height: 40px;
  //border: 1px solid #fff;
  display: flex;
  flex-flow: row nowrap; //flex-direction + flex-wrap
  max-width: 1024px;
}
.flex-header-area_start {
  //border: 1px solid #fff;
  padding-left: 40px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
}
.flex-header-area_center {
  //border: 1px solid #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.flex-header-area_end {
  //border: 1px solid #fff;
  padding-right: 40px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0px;
}
$header_font_type: 600 16px "Roboto", Helvetica, Arial, serif;
.header-text-style {
    text-decoration: none;  //Links sublinhados
    color: whitesmoke;
    font: $header_font_type;    
    text-align: center;
}
.flex-icon-pos {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
}
.flex-item {
  color: white;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.img-logo {
  width: 80px;
  display: block;
}
/******** content ********/
$font_type_01: 700 18px/1.18 "Roboto", Helvetica, Bold, serif;
.text-pos-01 {
  color: $color_type_0;
  font: $font_type_01;
  height: fit-content;
  width: fit-content;
  top: 80px;
  left: 16px;
  letter-spacing: 0px;
  position: absolute;
}
$font_type_02: 400 14px/1.18 "Roboto", Helvetica, Bold, serif;
.text-pos-02 {
  color: $color_type_0;
  font: $font_type_02;
  height: fit-content;
  width: fit-content;
  top: 105px;
  left: 16px;
  letter-spacing: 0px;
  position: absolute;
}
$font_type_05: 700 12px/1.18 "Roboto", Helvetica, Bold, serif;
.text-pos-03 {
  color: $color_type_0;
  font: $font_type_05;
  height: 56px;
  top: 32px;
  left: 102px;
  letter-spacing: 0px;
  position: absolute;
  width: 100px;
}
$font_type_03: 700 48px/1.17 "Roboto", Helvetica, Bold, serif;
.text-pos-04 {
  color: $color_type_0;
  font: $font_type_03;
  height: 56px;
  width: 74px;
  top: 0px;
  left: 26px;
  letter-spacing: 0px;
  position: absolute;
}
$font_type_04: 400 14px/1.18 "Roboto", Helvetica, Bold, serif;
.text-pos-05 {
  color: $color_type_0;
  font: $font_type_04;
  height: 56px;
  top: 17px;
  left: 102px;
  letter-spacing: 0px;
  position: absolute;
  width: 74px;
}
.main_container{ //propriedades de container
  max-width: 1024px;
  height: 565px;
  background-color: #000;
}
.entr-page-button{
  position: absolute;
  top: 100px; //-35
  left: 430px;
  //right: 314px;
  //bottom: 311px;
  height: 154px;
  width: 280px;
  filter:drop-shadow(0px 10px 10px #2a216e); 
  cursor: pointer;
}
.kids-page-button{
  position: absolute;
  top: 276px;
  left: 430px;
  //right: 314px;
  //bottom: 135px;
  height: 154px;
  width: 280px;
  filter:drop-shadow(0px 10px 10px #5a6b1d); //rgba(0.8509804010391235,0.9450980424880981,0.5137255191802979,0.5)
  cursor: pointer;
}
.app-page-button{
  position: absolute;
  background-color: #1DE5D6;
  background-image: linear-gradient(#1DE5D6 0%, #309FE5 100%);
  top: 100px;
  left: 732px;
  //right: 102px;
  //bottom: 311px;
  height: 154px;
  width: 190px;
  border-radius:8px 64px 8px 8px;
  filter:drop-shadow(0px 10px 10px #1e817a); //rgba(0.8509804010391235,0.9450980424880981,0.5137255191802979,0.5)
  cursor: pointer;
}
.pesq-page-button{
  position: absolute;
  background-color: #B1C95C;
  background-image: linear-gradient(#B1C95C 0%, #3ABF90 100%);
  top: 276px;
  left: 732px;
  //right: 102px;
  //bottom: 135px;
  height: 154px;
  width: 190px;
  border-radius:8px;
  filter:drop-shadow(0px 10px 10px #63761f); //rgba(0.8509804010391235,0.9450980424880981,0.5137255191802979,0.5)
  cursor: pointer;
}
.clima{
  position: absolute;
  background-color:#414141;
  top: 339px;
  left: 177px;
  //right: 639px;
  //bottom: 135px;
  height: 91px;
  width: 208px;
  border-radius: 100px;
  border-style: solid;
  border-width: 0.50px;
  border-color: rgba(255, 255, 255, 0.50);
  overflow: 'hidden';
}
.whether-img {
  position: absolute;
  top: 221px;
  left: 78px;
  //right: 701px;
  //bottom: 99px;
  height: 245px;
  width: 245px;
}
.home-icon {
  color: white;
  width: 30px;
  height: 100px;
  top: -20px;
  left: 10px;
  position: relative;
}
$font_type_00: 700 64px/1.17 "Roboto", Helvetica, Arial, serif;
.text-pos-08 {
  color: $color_type_0;
  font: $font_type_00;
  position: absolute;
  top: 116px;
  left: 214px;
  height: fit-content;
  width: fit-content;
  letter-spacing: 0px;
}
$font_type_05: 700 16px/1.18 "Roboto", Helvetica, Arial, serif;
.text-pos-06 {
  color: $color_type_0;
  font: $font_type_05;
  position: absolute;
  top: 198px;
  left: 279px;
  height: fit-content;
  width: fit-content;
  letter-spacing: 0px;
}
$font_type_06: 400 16px/1.18 "Roboto", Helvetica, Arial, serif;
.text-pos-07 {
  color: $color_type_0;
  font: $font_type_06;
  position: absolute;
  top: 221px;
  left: 244px;
  height: fit-content;
  width: fit-content;
  letter-spacing: 0px;
}
.teste-position1 {
  position: absolute;
  color: white;
  top: 300px;
  left: 512px;
}
.teste-position2 {
  position: absolute;
  color: white;
  top: 265px;
  left: 480px;
}

