<!-- <body>
  <header>
    <a>
      Header
    </a>
  </header>
  <main>
    <section class="flex-grid">
      <div>
        <img src="../../assets/velosesefuriososdez.jpg"/>
        <a>
          legenda
        </a>
      </div>
      <div>
        <img src="../../assets/culpadasestrelas.svg"/>
        <a>
          legenda
        </a>
      </div>
      <div>
        <img src="../../assets/barracadobeijo.svg"/>
        <a>
          legenda
        </a>
      </div>
      <div>
        <img src="../../assets/infiltrado.svg"/>
        <a>
          legenda
        </a>
      </div>
      <div>
        <img src="../../assets/avatar.svg"/>
        <a>
          legenda
        </a>
      </div>
      <div>
        <img src="../../assets/guardioesdagalaxia.svg"/>
        <a>
          legenda
        </a>
      </div>
      <div>
        <img src="../../assets/inferno.svg"/>
        <a>
          legenda
        </a>
      </div>
      <div>
        <img src="../../assets/supermario.jpg"/>
        <a>
          legenda
        </a>
      </div>
      <div>
        <img src="../../assets/blackmirror.svg"/>
        <a>
          legenda
        </a>
      </div>
      <div class="anuncio">
        <img src="../../assets/flash.jpg"/>
        <a>
          Anuncio
        </a>
      </div>
    </section>
  </main>
</body> -->


<body>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>entretenimento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <section class="template-style">
      <section class="toolbar-style">
        <div class="red">
          <a>Conteudo</a>
        </div>
      </section>
      <main class="main-style">
        <aside class="aside-style">
          <div class="yellow">
            <a>Conteudo</a>
          </div>
        </aside>
        <article class="article-style">
          <div class="green">
            <a>Conteudo</a>
          </div>
        </article>          
      </main>
      <footer class="footer-style">
        <div class="blue">
          <a>Conteudo</a>
        </div>
      </footer>          
    </section>
  </ion-content>
</body>