// body, ul, li, p {
//     margin: 0px;
//     padding: 0px;
//     list-style: none;   //Tira a bolinha do inicio do item da lista
//     font-size: 1.2rem;
//     font-family: Arial;
// }
// img {
//     width: 100%;
// }
// a {
//     text-decoration: none;  //Links sublinhados
//     color: white;
// }
// .flex-grid {
//     display: grid;
//     grid-template-columns: repeat(3, auto);
//     max-width: 800px;
//     margin: 0, auto;
//     grid-gap: 20px;
// }
// .flex-grid > div:nth-child(n + 4) {   //Filhos no index 4 em diante
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-gap: 10px;
//     align-items: center;
// }
// .flex-grid > div.anuncio{
//     grid-column: 1;
//     grid-row: 2 / 5;
//     display: block;
// }
// @media (max-width: 600px) {
//     img {
//         width: 50px;
//     }
//     .flex-grid {
//         grid-template-columns: repeat(2, auto);
//     }   
// }

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;   //Tira a bolinha do inicio do item da lista
    font-size: 1.2rem;
    font-family: Arial;
}
a {
    text-decoration: none;  //Links sublinhados
    color: white;
}
.container-grid {
    width: 100%;
    height: 100%;
}
.toolbar-style {
    display:grid;
}
.main-style {
    display:grid;
    grid-template-columns: 19.75% auto;
    //grid-template-rows: 10% 90%;
    align-items: stretch; //o conteudo se alonga
    column-gap: 0.25%;
}
.template-style {
    width: 100%;
    height: 100%;

    display:grid;
    //grid-template-columns: 20% 80%;
    grid-template-rows: 9% 69% 16.5%;
    align-items: stretch; //stretch= o conteudo se alonga (default)
    justify-items: stretch;
    gap: 0.5%;
}
.footer-style {
    display:grid;
}
.aside-style {
    display:grid;
}
.article-style {
    display:grid;
}
.red {
    border:1px solid red;
    //background-color: red;
}
.blue {
    border:1px solid blue;
    //background-color: blue;
}
.yellow {
    border:1px solid yellow;
    //background-color: yellow;
}
.green {
    border:1px solid green;
    //background-color: green;
}
