body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;   //Tira a bolinha do inicio do item da lista
    font-size: 1.2rem;
    font-family: Arial;
}
a {
    text-decoration: none;  //Links sublinhados
    color: white;
}
.template-style {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows: 9% 69% 16.5%;
    align-items: stretch; //stretch= o conteudo se alonga (default)
    justify-items: stretch;
    gap: 0.5%;
}
.toolbar-style {
    display:grid;
}
.main-style {
    display:grid;
    grid-template-columns: 19.75% auto;
    align-items: stretch; //o conteudo se alonga
    column-gap: 0.25%;
}
.article-style {
    display:grid;
}
.aside-style {
    display:grid;
}
.footer-style {
    display:grid;
}
.red {
    border:1px solid red;
    //background-color: red;
}
.blue {
    border:1px solid blue;
    //background-color: blue;
}
.yellow {
    border:1px solid yellow;
    //background-color: yellow;
}
.green {
    border:1px solid green;
    //background-color: green;
}
