<body>
  <ion-header class="flex-header" [translucent]="true">
    <div class="flex-header-area_start">
      <div class="flex-icon-pos">
        <ion-icon (click)='botaoVoltar()' slot="icon-only" name="arrow-undo"></ion-icon>
      </div>
      <a class="font-orbe0 link-mouse" (click)='botaoVoltar()'>Voltar</a>            
    </div>
    <div class="flex-header-area_center">
      <div class="flex-item">
        <img class="img-logo" src="../../assets/logoOrbe.svg"/>
      </div>
    </div>
    <div class="flex-header-area_end">
      <div class="flex-item">
        <a class="header-text-style">11:40 AM</a>
      </div> 
    </div>
  </ion-header>  
  <main class="flex-main-container">
    <div class="flex-main-item">
      <div class="flex-main-item-left">
        <h1 class="font-orbe1 flex-text-description">A Culpa é das Estrelas</h1>
        <h2 class="font-orbe2 flex-text-description">
          Lorem ipsum dolor sit amet consectetur. Arcu mi condimentum integer quis massa. Egestas egestas sed sed mauris euismod diam. Imperdiet egestas in nulla phasellus. Augue ut purus erat molestie molestie laoreet  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <span id="pontos">...</span>
          <span id="mais" style="display: none;">
            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
            <!-- Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
          </span>
          <button class="font-orbe3" (click)='vermais()' id="btnVerMais">Ver Mais</button>
        </h2>
        <h1 class="font-orbe4">___</h1>
        <div class="flex-watch">
          <ion-icon name="film" class="flex-watch-icon"></ion-icon>
          <h2 class="flex-watch-text">
            Drama
          </h2>
          <ion-icon name="time-outline" class="flex-watch-icon"></ion-icon>
          <h2 class="flex-watch-text">
            132 min
          </h2>
          <ion-icon name="calendar-outline" class="flex-watch-icon"></ion-icon>
          <h2 class="flex-watch-text">
            2014
          </h2>
        </div>
        <button class="watch-button" routerLink="/playback/movies/1">Assistir</button>
      </div>
      <div class="flex-main-item-right">
        <img class="flex-img-description" src="../../assets/culpadasestrelas.svg"/>
      </div>
    </div>
  </main>
</body>